h3 {
color: olive;
}
#blok-gorny {
width: 200pt;
height: 2.5cm;
background-color: #C0C0C0; 
border-top: 2px groove #C0C0C0; 
border-bottom: 2px groove #808080; 
border-left: 4px groove #808080; 
border-right: 4px groove #C0C0C0;
margin: auto;
padding-left: 10px;
}
#blok-srodkowy {
width: 300pt;
height: 2cm;
background: #FFFFFF;
border: 3px inset #C0C0C0; 
margin-left: 16%;
margin-top: 5%;
text-align: center;
}
#blok-dolny {
width: 400pt;
height: 3cm;
background: #FFFFFF;
border: 2px solid #808080; 
margin-left: 40%;
font-size: 12px;
margin-top: 5%;
}

/*Michał Zawadzki*/
